@import "../mixin";

.we-elements {
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  user-select: none;
}
.content-box {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: #{"min(3.5rem, 5%)"} #{"min(5rem, 5%)"};
  gap: clamp(2rem, calc(8vw - 2rem), 20rem);
}
.we-element {
  h2 {
    margin-bottom: 0.8rem;
  }
  p {
    color: $gray2Color;
  }
}
