$grayColor: #191919;
$grayHoverColor: #363636;
$gray2Color: #5b5f61;
$brownColor: #c4762b;
$whiteCOlor: #ffffff;
$bgPhoto: #242424;
$backgroundColorPrymary: #ededed;
$backgroundColorSecondary: #2c2b25;
$whiteColorSecondScreen: #fefefe;
@import url("../fonts/fonts.css");
