@import url("../fonts/fonts.css");
header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../tower1.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../tower1.png");
  background-size: cover;
  background-position: 0 -12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-part {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 8rem 0 8rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.nav #logo {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 60%;
}

.nav-element ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #ffffff;
  gap: 20px;
}

.nav-element ul li {
  text-transform: uppercase;
  height: 100%;
  list-style-type: none;
  font-weight: 350;
  font-size: 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-element ul li span {
  white-space: nowrap;
}

.nav-element ul li #img-menu {
  position: relative;
  width: 2rem;
  height: auto;
}

.nav-element ul li #img-menu:hover #menu-visibility {
  display: block;
}

.nav-element ul li img {
  position: absolute;
  top: -20px;
  width: 2rem;
  left: 0;
  -webkit-animation: opacityChange 0.5s ease-out;
          animation: opacityChange 0.5s ease-out;
}

.nav-element ul li #menu-img-1 {
  opacity: 1;
  visibility: visible;
}

.nav-element ul li #menu-img-2 {
  opacity: 0;
  visibility: hidden;
}

.nav-element ul li:nth-child(4):hover #menu-img-1 {
  -webkit-animation: fadeOut 0.3s ease-in-out forwards;
          animation: fadeOut 0.3s ease-in-out forwards;
}

.nav-element ul li:nth-child(4):hover #menu-img-2 {
  -webkit-animation: fadeIn 0.3s ease-in-out forwards;
          animation: fadeIn 0.3s ease-in-out forwards;
}

.nav-element ul li a {
  width: 100%;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.nav-element ul li a:visited {
  text-decoration: none;
  color: #ffffff;
}

.nav-element ul li a::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -10px;
  height: 0.1rem;
  width: 0%;
  border-radius: 1.5px;
  background-color: #ffffff;
}

.nav-element ul li a:hover::before {
  -webkit-animation: underLine 0.5s ease-in-out forwards;
          animation: underLine 0.5s ease-in-out forwards;
}

.nav-element ul li a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 0.2rem;
  width: 100%;
  border-radius: 1.5px;
  background-color: #ffffff;
}

.nav-element ul li:last-child {
  height: 50%;
  padding: 10px 30px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.nav-element ul li:last-child:hover {
  -webkit-animation: changeColorButton 0.5s ease-in-out forwards;
          animation: changeColorButton 0.5s ease-in-out forwards;
}

@-webkit-keyframes underLine {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  70% {
    width: 80%;
  }
  100% {
    width: 100%;
  }
}

@keyframes underLine {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  70% {
    width: 80%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes changeColorButton {
  10% {
    background: rgba(255, 255, 255, 0.2);
  }
  100% {
    background: #191919;
  }
}

@keyframes changeColorButton {
  10% {
    background: rgba(255, 255, 255, 0.2);
  }
  100% {
    background: #191919;
  }
}

#menu-visibility {
  display: none;
  position: absolute;
  top: 30px;
  left: 0px;
}

#menu {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#menu .menu-element {
  margin-bottom: 5px;
  text-align: end;
  padding: 10px;
  text-transform: none;
  font-size: 0.9rem;
  width: 100%;
  background-color: #191919;
}

#menu .menu-element:hover {
  background-color: #363636;
}

.center-info {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 20px 0;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 8rem;
}

.center-text h1 {
  font-size: 4rem;
  font-weight: 400;
}

.center-text p {
  font-size: 5rem;
  font-weight: 750;
}

.bottom-part {
  background-color: #FEFEFE;
  height: 10%;
}

.bottom-part img {
  height: 75%;
  width: auto;
  margin: 2px auto 0 auto;
  display: block;
  -webkit-animation: arrow 1.5s ease-in-out infinite;
          animation: arrow 1.5s ease-in-out infinite;
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, 10px);
            transform: translate(0px, 10px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, 10px);
            transform: translate(0px, 10px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

#about {
  min-height: 100vh;
  margin: 2rem 8rem 0 8rem;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about p {
  color: #5b5f61;
  font-weight: 350;
}

.text-part {
  width: 70%;
}

.text-part h2 {
  font-size: 2.5rem;
  font-weight: 750;
  margin-bottom: 20px;
}

.text-part p {
  line-height: 3rem;
  font-size: 2.2rem;
}

.number {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 cal(30%);
          flex: 1 1 cal(30%);
  min-width: 14rem;
}

.number span {
  font-weight: 350;
}

.number-unit {
  font-size: 2.5rem;
  color: #c4762b;
  margin-bottom: 1rem;
}

.number-info {
  font-size: 2rem;
}

.numbers-part {
  max-width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 2.5rem;
}

#about-img {
  border-radius: 0.4rem;
  overflow: hidden;
  min-width: auto;
  max-width: 45%;
  background: pink;
  height: auto;
}

#about-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 25% 0;
     object-position: 25% 0;
  width: 38rem;
  height: 100%;
  -webkit-transform: scaleX(1.3);
          transform: scaleX(1.3);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  aspect-ratio: 1;
}

.bottom-about {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#map {
  min-height: 100vh;
  background-image: url("/assets/map.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
}

.button-map {
  display: inline;
  height: auto;
}

.button-square {
  width: 4rem;
}

#our-projects-scroll {
  display: none;
}

.button-test {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#d9d9d9));
  background: linear-gradient(white, #d9d9d9);
  width: 15rem;
  height: 15rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: inset 0px -4px 5px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px -4px 5px rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Avenir LT Std", serif;
}

html {
  scroll-behavior: smooth;
}

#call-back-element {
  position: absolute;
  right: 10px;
  bottom: 5px;
}
/*# sourceMappingURL=style-home.css.map */