@import "./variables";
@import "./home/home-header";
@import "./home/home-about";
@import "./home/home-map";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir LT Std", serif;
}
html {
  scroll-behavior: smooth;
}

#call-back-element {
  position: absolute;
  right: 10px;
  bottom: 5px;
}
