@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir LT Std", serif;
}
header {
  height: 100vh;
  background-image: url("../tower1.png");
  background-size: cover;
  padding: 1px;
}
nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  img {
    height: fit-content;
    width: auto;
  }

  margin: 20px auto;
  width: 90%;
  padding-left: 20px;
}
.nav-element {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: auto;
  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    img {
      height: 1.5rem;
      color: $whiteCOlor;
      padding: 0 1.3rem;
      &:hover::after {
        content: "";
      }
    }
    li {
      font-size: 1.3rem;
      color: $whiteCOlor;
      text-transform: uppercase;
      height: fit-content;
      list-style-type: none;
      align-self: center;
      font-weight: 400;
      padding-bottom: 10px;
      border-bottom: 0.15rem solid transparent;
      &:nth-child(-n + 3):hover {
        border-bottom: 0.15rem solid $whiteCOlor;
      }
      &:active::before {
        content: ""; //зробити лінію
        box-shadow: inset 0 -0.3rem $whiteCOlor;
      }
    }
  }
}
