@import url("../fonts/fonts.css");
header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../tower1.png");
  background-size: cover;
  background-position: 0 -12px;
  display: flex;
  flex-direction: column;
}

.top-part {
  height: 90%;
  display: flex;
  flex-direction: column;
  margin: 2rem 8rem 0 8rem;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}
.nav #logo {
  height: -moz-fit-content;
  height: fit-content;
  width: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.nav-element {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}
.nav-element ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #ffffff;
  gap: 20px;
}
.nav-element ul li {
  text-transform: uppercase;
  height: 100%;
  list-style-type: none;
  font-weight: 350;
  font-size: 1.5rem;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-element ul li span {
  white-space: nowrap;
}
.nav-element ul li #img-menu {
  position: relative;
  width: 2rem;
  height: auto;
}
.nav-element ul li #img-menu:hover #menu-visibility {
  display: block;
}
.nav-element ul li #img-menu:hover #menu-img-1 {
  animation: fadeOut 0.3s ease-in-out forwards;
}
.nav-element ul li #img-menu:hover #menu-img-2 {
  animation: fadeIn 0.3s ease-in-out forwards;
}
.nav-element ul li img {
  position: absolute;
  top: -20px;
  width: 2rem;
  left: 0;
  animation: opacityChange 0.5s ease-out;
}
.nav-element ul li #menu-img-1 {
  opacity: 1;
  visibility: visible;
}
.nav-element ul li #menu-img-2 {
  opacity: 0;
  visibility: hidden;
}
.nav-element ul li a {
  width: 100%;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}
.nav-element ul li a:visited {
  text-decoration: none;
  color: #ffffff;
}
.nav-element ul li a::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  height: 0.1rem;
  width: 0%;
  border-radius: 1.5px;
  background-color: #ffffff;
}
.nav-element ul li a:hover::before {
  animation: underLine 0.5s ease-in-out forwards;
}
.nav-element ul li a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 0.2rem;
  width: 100%;
  border-radius: 1.5px;
  background-color: #ffffff;
}
.nav-element ul li:last-child {
  height: 50%;
  padding: 10px 30px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.nav-element ul li:last-child:hover {
  animation: changeColorButton 0.5s ease-in-out forwards;
}
@keyframes underLine {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  70% {
    width: 80%;
  }
  100% {
    width: 100%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes changeColorButton {
  10% {
    background: rgba(255, 255, 255, 0.2);
  }
  100% {
    background: #191919;
  }
}

#menu-visibility {
  display: none;
  position: absolute;
  top: 30px;
  left: 0px;
}

#menu {
  width: 150px;
  display: flex;
  flex-direction: column;
}
#menu .menu-element {
  margin-bottom: 5px;
  text-align: end;
  padding: 10px;
  text-transform: none;
  font-size: 0.9rem;
  width: 100%;
  background-color: #191919;
}
#menu .menu-element:hover {
  background-color: #363636;
}

.center-info {
  align-self: center;
  margin: 20px 0;
  flex-grow: 2;
  display: flex;
  justify-content: center;
}

.center-text {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 8rem;
}
.center-text h1 {
  font-size: 4rem;
  font-weight: 400;
}
.center-text p {
  font-size: 5rem;
  font-weight: 750;
}

.bottom-part {
  background-color: #fefefe;
  height: 10%;
}
.bottom-part img {
  height: 75%;
  width: auto;
  margin: 2px auto 0 auto;
  display: block;
  animation: arrow 1.5s ease-in-out infinite;
}
@keyframes arrow {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

#about {
  min-height: 100vh;
  margin: 2rem 8rem 0 8rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}
#about p {
  color: #5b5f61;
  font-weight: 350;
}

.text-part {
  width: 70%;
}
.text-part h2 {
  font-size: 2.5rem;
  font-weight: 750;
  margin-bottom: 20px;
}
.text-part p {
  line-height: 3rem;
  font-size: 2.2rem;
}

.number {
  flex: 1 1 cal(30%);
  min-width: 14rem;
}
.number span {
  font-weight: 350;
}

.number-unit {
  font-size: 2.5rem;
  color: #c4762b;
  margin-bottom: 1rem;
}

.number-info {
  font-size: 2rem;
}

.numbers-part {
  max-width: 55%;
  display: flex;
  gap: 3rem;
  flex-flow: row wrap;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 2.5rem;
}

#about-img {
  border-radius: 0.4rem;
  overflow: hidden;
  min-width: auto;
  max-width: 45%;
  background: pink;
  height: auto;
}
#about-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 25% 0;
     object-position: 25% 0;
  width: 38rem;
  height: 100%;
  transform: scaleX(1.3);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  aspect-ratio: 1;
}

.bottom-about {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

#map {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/assets/map.jpg") center/cover no-repeat;
  position: relative;
}

#map::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 1;
  visibility: visible;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/assets/map.jpg") center/cover no-repeat;
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}

.button-map {
  background: linear-gradient(rgb(255, 255, 255), #d9d9d9);
  box-shadow: inset 0px -4px 5px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

.button-map-left-part .button-map {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-map-left-part .button-map svg {
  width: 2rem;
  height: 2rem;
}
.button-map-left-part .earth {
  position: absolute;
  width: 3rem;
  height: 3rem;
  right: 2rem;
  top: 5rem;
}
.button-map-left-part .search {
  position: absolute;
  max-width: 25rem;
  width: -moz-fit-content;
  width: fit-content;
  height: 3rem;
  right: 2rem;
  top: 9rem;
  display: flex;
  justify-content: flex-end;
}
.button-map-left-part .search .box {
  position: relative;
  height: inherit;
  max-width: 50px;
  transition: all 0.4s ease;
}
.button-map-left-part .search .box input {
  width: 100%;
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  font-weight: 350;
  margin-left: 3rem;
}
.button-map-left-part .search .box label {
  height: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.button-map-left-part .search #search-label {
  position: absolute;
  height: 100%;
  width: 3rem;
  left: 0.2rem;
}
.button-map-left-part .search #cancel-label {
  color: #c4762b;
  font-size: 1.2rem;
  font-weight: 350;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 0;
  margin-right: 1rem;
  transition: opacity 0.35s ease;
}
.button-map-left-part .search #check-search-element:checked ~ .box {
  max-width: 350px;
}
.button-map-left-part .search #check-search-element:checked ~ .box #cancel-label {
  opacity: 1;
}
.button-map-left-part .search #check-search-element {
  display: none;
}

.zoom-out {
  font-weight: 350;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  position: absolute;
  bottom: 2rem;
  left: 45%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

#zoom-elements .zoom-name {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 350;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  display: inline;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#zoom-elements .zoom-name:first-of-type {
  left: 30%;
  top: 18%;
}
#zoom-elements .zoom-name:last-of-type {
  top: 55%;
  left: 34%;
}
#zoom-elements #zoom-map-central-region {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  left: 35%;
  top: 35%;
  transform: translate(0, 0);
  transition: all 1s ease;
}
#zoom-elements h3::after {
  content: "1";
  margin-left: 1rem;
  background-color: #ffffff;
  color: #272622;
  padding: 0.2rem 0.6rem;
  border-radius: 100%;
}
#zoom-elements h3:first-of-type::after {
  content: "5";
}

.zoom-elements-map-part-element {
  position: relative;
  height: 6rem;
}
.zoom-elements-map-part-element h3 {
  display: inline;
  color: #ffffff;
  font-weight: 350;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.zoom-elements-map-part-element .line {
  position: absolute;
  top: 0.5rem;
}
.zoom-elements-map-part-element .map-part {
  display: inline;
  position: absolute;
}
.zoom-elements-map-part-element .map-part svg {
  height: 4.5rem;
  width: 4.5rem;
}

.zoom-elements-map-part {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 480px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}
.zoom-elements-map-part #Ridyadh .line {
  left: 120px;
}
.zoom-elements-map-part #Ridyadh .map-part {
  left: 38%;
  top: 55%;
}
.zoom-elements-map-part #Ridyadh h3::after {
  content: "1";
}
.zoom-elements-map-part #Buraydah {
  width: 40%;
  align-self: flex-end;
}
.zoom-elements-map-part #Buraydah .line {
  left: 130px;
}
.zoom-elements-map-part #Buraydah .map-part {
  left: 85%;
  top: 65%;
}
.zoom-elements-map-part #Buraydah h3::after {
  content: "6";
}

#zoom-map {
  display: none;
}

#zoom-map:checked ~ #map::before {
  transform: scale(1.2);
}

#zoom-map:checked ~ #map #zoom-elements .zoom-name:first-of-type {
  left: 30%;
  top: 10%;
}
#zoom-map:checked ~ #map #zoom-elements .zoom-name:last-of-type {
  top: 60%;
  left: 34%;
}
#zoom-map:checked ~ #map #zoom-elements #zoom-map-central-region {
  transform: translate(5px, -10px);
  opacity: 0;
  visibility: hidden;
}
#zoom-map:checked ~ #map #zoom-elements .zoom-elements-map-part {
  opacity: 1;
  visibility: visible;
}

.all-projects {
  position: absolute;
}

#our-projects-scroll {
  overflow-y: scroll;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir LT Std", serif;
}

html {
  scroll-behavior: smooth;
}

#call-back-element {
  width: 4.5rem;
  height: 4.5rem;
  position: fixed;
  right: 10px;
  bottom: 5px;
}/*# sourceMappingURL=style-home.css.map */