@import "../mixin";
footer {
  box-shadow: 0 -0.1rem 5px rgba(0, 0, 0, 0.5);
  min-height: 20vh;
  background-image: linear-gradient(#37362c, #272622);
  padding: clamp(0.8rem, 2vw, 2rem) clamp(1rem, 2.5vw, 3rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-box {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(10rem, 30vw, 20rem), 1fr)
  );
  p {
    color: $whiteCOlor;
    font-weight: 350;
    font-size: 1rem;
  }
}
.footer-left-part {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: fit-content;
}
.footer-left-part-middle,
.footer-left-part-bottom {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-middle-part {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.footer-middle-part-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
}
.footer-icon {
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 2rem;
    width: 2rem;
    color: #949494;
  }
}
.footer-middle-part-bottom {
  p {
    font-size: 0.9rem;
  }
}
.footer-right-part {
  display: flex;
  justify-content: center;
  align-items: center;
}
