@import "../mixin";
header {
  min-height: 100vh;
  min-height: 100dvh;
  background-size: cover;
  background-position: 0 -12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-part {
  @include marginsSide();
}
.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}
.logo {
  height: 5.5rem;
  width: auto;
  user-select: none;
}
.nav-element {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    user-select: none;
    color: $whiteCOlor;
    gap: 20px;
    li {
      text-transform: uppercase;
      height: 100%;
      list-style-type: none;
      font-weight: 350;
      font-size: 1.5rem;
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        white-space: nowrap;
      }
      img {
        position: absolute;
        top: -20px;
        width: 2rem;
        left: 0;
        animation: opacityChange 0.5s ease-out;
      }
      a {
        width: 100%;
        color: $whiteCOlor;
        text-decoration: none;
        position: relative;
        &:visited {
          text-decoration: none;
          color: $whiteCOlor;
        }
        &::before {
          content: "";
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -10px;
          height: 0.1rem;
          width: 0%;
          border-radius: 1.5px;
          background-color: $whiteCOlor;
        }
        &:hover::before {
          animation: underLine 0.5s ease-in-out forwards;
        }
        &.active::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -20px;
          height: 0.2rem;
          width: 100%;
          border-radius: 1.5px;
          background-color: $whiteCOlor;
        }
      }
      &:last-child {
        height: 50%;
        padding: 10px 30px;
        border-radius: 2px;
        background: rgba(255, 255, 255, 0.3);
      }
      &:last-child:hover {
        animation: changeColorButton 0.5s ease-in-out forwards;
      }
    }
  }
  .menu {
    position: relative;
    &:hover .menu-visibility {
      visibility: visible;
      opacity: 1;
    }
    &:hover .ham-menu span:nth-of-type(2) {
      transform: translateX(50%);
    }
  }
  .ham-menu {
    width: 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    span {
      display: block;
      height: 0.25rem;
      width: 100%;
      background-color: white;
      transition: transform 0.25s ease-in-out;
      &:nth-of-type(2) {
        margin: 0.5rem 0;
        width: 70%;
        transform: translateX(0);
      }
    }
  }
  @keyframes underLine {
    0% {
      width: 0%;
    }
    50% {
      width: 100%;
    }
    70% {
      width: 80%;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes changeColorButton {
    10% {
      background: rgba(255, 255, 255, 0.2);
    }
    100% {
      background: $grayColor;
    }
  }
}
.menu-visibility {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50px;
  left: 0px;
  transition: all 0.5s ease-in-out;
}
#hover-menu {
  ul {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  li {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    text-transform: none;
    font-size: 0.9rem;
    width: 100%;
    background-color: $grayColor;
    &:hover {
      background-color: $grayHoverColor;
    }
  }
}
.center-info {
  @include marginsSide();
}
.center-text {
  user-select: none;
  color: $whiteCOlor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: clamp(4.5rem, calc(5vw - 1rem), 10rem);
  h1 {
    font-size: clamp(2.5rem, calc(3vw - 1rem), 4.5rem);
    font-weight: 400;
  }
  p {
    font-size: clamp(3rem, calc(4vw - 1rem), 5rem);
    font-weight: 750;
  }
}

.bottom-part {
  background-color: $whiteColorSecondScreen;
  height: clamp(3rem, calc(5vw - 2rem), 6rem);
  img {
    height: clamp(2rem, calc(5vw - 2rem), 5rem);
    width: auto;
    margin: 0.3rem auto 0 auto;
    display: block;
    animation: arrow 1.5s ease-in-out infinite;
  }
  @keyframes arrow {
    0% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(0px, 10px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
}
@media (max-width: 720px) {
  .nav-element a {
    display: none;
  }
}
.call-back-element {
  width: clamp(3rem, calc(4vw - 1rem), 4.5rem);
  height: auto;
  position: fixed;
  right: 10px;
  bottom: 5px;
  z-index: 100;
}
