@import "../mixin";
.business-quality {
  @include paddingSide();
  padding-bottom: #{"min(2rem, 5%)"};
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
}
.business-quality-container {
  width: 90%;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  gap: clamp(1rem, calc(10vw - 1rem), 15rem);
}
.business-quality-info {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.business-quality-info-element {
  border-bottom: 1px solid #5b5f616c;
  &:last-child {
    border-bottom: none;
  }
  &:first-child .business-quality-info-type {
    margin-top: 0;
  }
}
.business-quality-info-type {
  font-weight: bold;
  margin: clamp(1rem, calc(2vh - 0.8rem), 2rem) 0;
}

.business-quality-info-text {
  margin-bottom: clamp(1rem, calc(2vh - 0.8rem), 2rem);
  font-size: clamp(1rem, calc(3vw - 1.5rem), 2rem);
}
.business-quality-main-text {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    margin-top: 0;
  }
}
@media (max-width: 720px) {
  .business-quality-container {
    flex-direction: column;
  }
  .business-quality-info {
    flex-direction: row;
    width: 100%;
  }
  .business-quality-info-element {
    border-right: 1px solid #5b5f616c;
    padding: 0 clamp(1rem, calc(2vh - 0.8rem), 2rem);
    text-align: center;
    border-bottom: none;
    &:last-child {
      border: none;
    }
  }
  .business-quality-info-type {
    margin-top: 0;
  }
  .business-quality-info-text {
    margin-bottom: 0;
  }
  .business-quality-main-text {
    width: 100%;
  }
}
