@import url("/src/assets/fonts/fonts.css");
header {
  min-height: 100vh;
  min-height: 100dvh;
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-part {
  margin: min(2rem, 5%) min(5rem, 5%) 0 min(5rem, 5%);
}

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.logo {
  height: 5.5rem;
  width: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.nav-element {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}
.nav-element ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #ffffff;
  gap: 20px;
}
.nav-element ul li {
  text-transform: uppercase;
  height: 100%;
  list-style-type: none;
  font-weight: 350;
  font-size: 1.5rem;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-element ul li span {
  white-space: nowrap;
}
.nav-element ul li img {
  position: absolute;
  top: -20px;
  width: 2rem;
  left: 0;
  animation: opacityChange 0.5s ease-out;
}
.nav-element ul li a {
  width: 100%;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}
.nav-element ul li a:visited {
  text-decoration: none;
  color: #ffffff;
}
.nav-element ul li a::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  height: 0.1rem;
  width: 0%;
  border-radius: 1.5px;
  background-color: #ffffff;
}
.nav-element ul li a:hover::before {
  animation: underLine 0.5s ease-in-out forwards;
}
.nav-element ul li a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 0.2rem;
  width: 100%;
  border-radius: 1.5px;
  background-color: #ffffff;
}
.nav-element .AR-button {
  height: 50%;
  padding: 10px 30px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.nav-element .AR-button:hover {
  animation: changeColorButton 0.5s ease-in-out forwards;
}
.nav-element .menu {
  position: relative;
}
.nav-element .menu:hover .menu-visibility {
  visibility: visible;
  opacity: 1;
}
.nav-element .menu:hover .ham-menu span:nth-of-type(2) {
  transform: translateX(45%);
}

.ham-menu {
  width: 2rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.ham-menu > :nth-child(2) {
  margin: 0.5rem 0;
  width: 70%;
  transform: translateX(0);
}
.ham-menu span {
  display: block;
  height: 0.25rem;
  width: 100%;
  background-color: white;
  transition: transform 0.25s ease-in-out;
}

@keyframes underLine {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  70% {
    width: 80%;
  }
  100% {
    width: 100%;
  }
}
@keyframes changeColorButton {
  10% {
    background: rgba(255, 255, 255, 0.2);
  }
  100% {
    background: #191919;
  }
}
.menu-visibility {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50px;
  left: 0px;
  transition: all 0.5s ease-in-out;
}

#hover-menu ul {
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#hover-menu li {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  text-transform: none;
  font-size: 0.9rem;
  width: 100%;
  color: #ffffff;
  background-color: #191919;
}
#hover-menu li:hover {
  background-color: #363636;
}

.center-info {
  margin: min(2rem, 5%) min(5rem, 5%) 0 min(5rem, 5%);
}

.center-text {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: clamp(4.5rem, 5vw - 1rem, 10rem);
}
.center-text h1 {
  font-size: clamp(2.5rem, 3vw - 1rem, 4.5rem);
  font-weight: 400;
}
.center-text p {
  font-size: clamp(3rem, 4vw - 1rem, 5rem);
  font-weight: 750;
}

.bottom-part {
  background-color: #fefefe;
  height: clamp(3rem, 5vw - 2rem, 6rem);
}
.bottom-part img {
  height: clamp(2rem, 5vw - 2rem, 5rem);
  width: auto;
  margin: 0.3rem auto 0 auto;
  display: block;
  animation: arrow 1.5s ease-in-out infinite;
}

@keyframes arrow {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@media (max-width: 720px) {
  .nav-element a {
    display: none;
  }
}
.call-back-element {
  width: clamp(3rem, 4vw - 1rem, 4.5rem);
  height: auto;
  position: fixed;
  right: 10px;
  bottom: 5px;
  z-index: 100;
}

footer {
  box-shadow: 0 -0.1rem 5px rgba(0, 0, 0, 0.5);
  min-height: 20vh;
  background-image: linear-gradient(#37362c, #272622);
  padding: clamp(0.8rem, 2vw, 2rem) clamp(1rem, 2.5vw, 3rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-box {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(clamp(10rem, 30vw, 20rem), 1fr));
}
.footer-box p {
  color: #ffffff;
  font-weight: 350;
  font-size: 1rem;
  line-height: normal;
}

.footer-left-part {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: -moz-fit-content;
  width: fit-content;
}

.footer-left-part-middle,
.footer-left-part-bottom {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-middle-part {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.footer-middle-part-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
}

.footer-icon {
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-icon img {
  height: 2rem;
  width: 2rem;
  color: #949494;
}

.footer-middle-part-bottom p {
  font-size: 0.9rem;
}

.footer-right-part {
  display: flex;
  justify-content: center;
  align-items: center;
}

.business-quality {
  padding: min(2rem, 5%) min(5rem, 5%) 0 min(5rem, 5%);
  padding-bottom: min(2rem, 5%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
}

.business-quality-container {
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  gap: clamp(1rem, 10vw - 1rem, 15rem);
}

.business-quality-info {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.business-quality-info-element {
  border-bottom: 1px solid rgba(91, 95, 97, 0.4235294118);
}
.business-quality-info-element:last-child {
  border-bottom: none;
}
.business-quality-info-element:first-child .business-quality-info-type {
  margin-top: 0;
}

.business-quality-info-type {
  font-weight: bold;
  margin: clamp(1rem, 2vh - 0.8rem, 2rem) 0;
}

.business-quality-info-text {
  margin-bottom: clamp(1rem, 2vh - 0.8rem, 2rem);
  font-size: clamp(1rem, 3vw - 1.5rem, 2rem);
}

.business-quality-main-text {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.business-quality-main-text h2 {
  margin-top: 0;
}

@media (max-width: 720px) {
  .business-quality-container {
    flex-direction: column;
  }
  .business-quality-info {
    flex-direction: row;
    width: 100%;
  }
  .business-quality-info-element {
    border-right: 1px solid rgba(91, 95, 97, 0.4235294118);
    padding: 0 clamp(1rem, 2vh - 0.8rem, 2rem);
    text-align: center;
    border-bottom: none;
  }
  .business-quality-info-element:last-child {
    border: none;
  }
  .business-quality-info-type {
    margin-top: 0;
  }
  .business-quality-info-text {
    margin-bottom: 0;
  }
  .business-quality-main-text {
    width: 100%;
  }
}
.photo-scroll {
  min-height: 25vh;
  padding: min(2rem, 5%) min(5rem, 5%) 0 min(5rem, 5%);
  padding-right: 0;
  padding-bottom: min(2rem, 5%);
}

.photo-scroll-content {
  height: 100%;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  display: flex;
  gap: clamp(1rem, 3vw - 2rem, 3rem);
  scroll-snap-type: x mandatory;
}

.element {
  flex: 0 0 clamp(15rem, 40vw - 1rem, 40rem);
  overflow: hidden;
  scroll-snap-align: start;
  border-radius: 0.3rem;
}
.element img {
  aspect-ratio: 3/2;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}

.register-form {
  min-height: 95vh;
  background: url("../../img/road.png") center/cover no-repeat;
  padding: min(2rem, 5%) min(5rem, 5%) 0 min(5rem, 5%);
  display: flex;
  justify-content: end;
  align-items: center;
}

.form {
  background-color: #ffffff;
  margin: auto 0;
  padding: min(5rem, 5%) min(4rem, 5%);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}
.form span {
  color: #191919;
}
.form p {
  line-height: clamp(1.5rem, 3vw - 1.5rem, 2.5rem);
}
.form h3,
.form p {
  margin-bottom: min(3rem, 5%);
}

.input-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, 3vh - 0.5rem, 1.5rem);
}
.input-form input {
  padding: 1.5em;
  border-color: rgba(91, 95, 97, 0.3647058824);
  border-radius: 0.2rem;
}
.input-form input:last-child {
  border: none;
}

.modile-number-box {
  height: 100%;
  border: 2px solid rgba(91, 95, 97, 0.3647058824);
  border-radius: 0.2rem;
  display: flex;
}
.modile-number-box select {
  border: none;
}
.modile-number-box input {
  flex: 1;
}

.submit-btn {
  align-self: end;
  margin-top: min(3rem, 5%);
  width: 6rem;
  padding: 12px;
  font-size: 16px;
  color: #c4762b;
  background: transparent;
  border: 2px solid #c4762b;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir LT Std", serif;
}

html {
  scroll-behavior: smooth;
}
html h2 {
  font-size: clamp(1.4rem, 3.5vw - 2rem, 3rem);
  font-weight: 750;
  color: #191919;
  margin: min(3rem, 5%);
  margin-left: 0px;
}
html h3 {
  font-size: clamp(1.2rem, 3vw - 1.5rem, 2rem);
  font-weight: 750;
}
html p {
  font-weight: 400;
  line-height: clamp(2rem, 4vw - 1.5rem, 3.5rem);
  font-size: clamp(1rem, 3vw - 2rem, 1.8rem);
  color: #5b5f61;
}

header {
  min-height: 95vh;
  justify-content: space-between;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/src/assets/img/Aimaather.png");
  background-position: 35% 60%;
}
header .center-info {
  align-self: start;
}
header .center-info h1 {
  font-size: clamp(3rem, 5vw - 1rem, 5.5rem);
  font-weight: 750;
  margin-bottom: clamp(1.5rem, 6vh - 1rem, 4rem);
}/*# sourceMappingURL=style-the-ptoject.css.map */