@import "../mixin";
#about {
  height: fit-content;
  min-height: 40vh;
  @include marginsSide();
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    color: $gray2Color;
    font-weight: 350;
  }
}
.text-part {
  width: 70%;
  h2 {
    font-size: clamp(1.3rem, calc(3vw - 1rem), 2.5rem);
    font-weight: 750;
    margin-bottom: 20px;
  }
  p {
    line-height: clamp(2rem, calc(4vw - 1.5rem), 3.5rem);
    font-size: clamp(1.2rem, calc(3vw - 1.25rem), 2.5rem);
  }
}
.number {
  flex: 1 1 cal(50%-20);
  min-width: 14rem;
  span {
    font-weight: 350;
  }
}
.number-unit {
  font-size: clamp(1.2rem, calc(3vw - 1.2rem), 2.5rem);
  color: $brownColor;
  margin-bottom: 1rem;
}
.number-info {
  font-size: clamp(1rem, calc(3vw - 1.2rem), 2rem);
}
.numbers-part {
  height: fit-content;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, minmax(14rem, 30rem));
  row-gap: clamp(1.5rem, calc(8vh - 1rem), 3rem);
  padding-top: clamp(1.5rem, calc(5vh - 1rem), 2.5rem);
}
.about-img {
  overflow: hidden;
  max-width: 45%;
  height: fit-content;
  img {
    object-fit: cover;
    width: 100%;
    user-select: none;
    aspect-ratio: 1/1;
    object-position: center;
    border-radius: 0.4rem;
  }
}
.bottom-about {
  margin-top: clamp(1.5rem, calc(5vh - 1rem), 2rem);
  display: flex;
  justify-content: space-between;
}
@media (max-width: 720px) {
  .text-part {
    width: 100%;
  }
  .bottom-about {
    margin-top: 0;
    flex-direction: column;
  }
  .about-img {
    margin-top: clamp(1.5rem, calc(5vh - 1rem), 2rem);
    max-width: 100%;
  }
  .numbers-part {
    grid-template-columns: repeat(1, minmax(14rem, 30rem));
  }
}
