@import "../variables";
@import "../elements/header";
@import "./home-about";
@import "./home-map";
@import "./home-newestProjects";
@import "../elements/footer";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir LT Std", serif;
}
html {
  scroll-behavior: smooth;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/src/assets/img/tower1.png");
}

#call-back-element {
  width: clamp(3rem, calc(4vw - 1rem), 4.5rem);
  height: auto;
  position: fixed;
  right: 10px;
  bottom: 5px;
  z-index: 100;
}
