@import "../mixin";
#map {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/assets/map.jpg") center/cover no-repeat;
  position: relative;
}
#map::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 1;
  visibility: visible;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/assets/map.jpg") center/cover no-repeat;
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}
.button-map {
  @include white-to-gray-gradient();
  border-radius: 0.5rem;
}
.button-map-left-part {
  .button-map {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 2rem;
      height: 2rem;
    }
  }
  .earth {
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: 2rem;
    top: 5rem;
  }
  .search {
    position: absolute;
    max-width: 25rem;
    width: fit-content;
    height: 3rem;
    right: 2rem;
    top: 9rem;
    display: flex;
    justify-content: flex-end;
    .box {
      position: relative;
      height: inherit;
      max-width: 50px;
      transition: all 0.4s ease;

      input {
        width: 100%;
        outline: none;
        background-color: transparent;
        border: none;
        font-size: 1.3rem;
        font-weight: 350;
        margin-left: 3rem;
      }
      label {
        height: 100%;
        display: flex;
        cursor: pointer;
        align-items: center;
        text-align: center;
        justify-content: center;
      }
    }
    #search-label {
      position: absolute;
      height: 100%;
      width: 3rem;
      left: 0.2rem;
    }
    #cancel-label {
      color: $brownColor;
      font-size: 1.2rem;
      font-weight: 350;
      user-select: none;
      opacity: 0;
      margin-right: 1rem;
      transition: opacity 0.35s ease;
    }
    #check-search-element:checked ~ .box {
      max-width: 350px;
      #cancel-label {
        opacity: 1;
      }
    }
    #check-search-element {
      display: none;
    }
  }
}
.zoom-out {
  font-weight: 350;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  position: absolute;
  bottom: 2rem;
  left: 45%;
  user-select: none;
  cursor: pointer;
}
#zoom-elements {
  .zoom-name {
    text-transform: uppercase;
    color: $whiteCOlor;
    font-weight: 350;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: inline;
    position: absolute;
    user-select: none;
    &:first-of-type {
      left: 30%;
      top: 18%;
    }
    &:last-of-type {
      top: 55%;
      left: 34%;
    }
  }
  #zoom-map-central-region {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    left: 35%;
    top: 35%;
    transform: translate(0, 0);
    transition: all 1s ease;
  }

  h3 {
    &::after {
      content: "1";
      margin-left: 1rem;
      background-color: $whiteCOlor;
      color: $mainColor;
      padding: 0.2rem 0.6rem;
      border-radius: 100%;
    }
    &:first-of-type::after {
      content: "5";
    }
  }
}
.zoom-elements-map-part-element {
  position: relative;
  height: 6rem;
  h3 {
    display: inline;
    color: $whiteCOlor;
    font-weight: 350;
    user-select: none;
  }
  .line {
    position: absolute;
    top: 0.5rem;
  }
  .map-part {
    display: inline;
    position: absolute;

    svg {
      height: 4.5rem;
      width: 4.5rem;
    }
  }
}

.zoom-elements-map-part {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 480px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  #Ridyadh {
    .line {
      left: 120px;
    }
    .map-part {
      left: 38%;
      top: 55%;
    }
    h3::after {
      content: "1";
    }
  }
  #Buraydah {
    width: 40%;
    align-self: flex-end;
    .line {
      left: 130px;
    }
    .map-part {
      left: 85%;
      top: 65%;
    }
    h3::after {
      content: "6";
    }
  }
}
#zoom-map {
  display: none;
}
#zoom-map:checked ~ #map::before {
  transform: scale(1.2);
}
#zoom-map:checked ~ #map {
  #zoom-elements {
    .zoom-name {
      &:first-of-type {
        left: 30%;
        top: 10%;
      }
      &:last-of-type {
        top: 60%;
        left: 34%;
      }
    }
    #zoom-map-central-region {
      transform: translate(5px, -10px);
      opacity: 0;
      visibility: hidden;
    }
    .zoom-elements-map-part {
      opacity: 1;
      visibility: visible;
    }
  }
}
.all-projects {
  position: absolute;
}

#our-projects-scroll {
  overflow-y: scroll;
}
