@import "../mixin";
#map {
  min-height: 100vh;
  background-image: url("/assets/map.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
}
.button-square {
  width: 4rem;
}
#our-projects-scroll {
  display: none;
}
.button-map {
  background: linear-gradient(rgb(255, 255, 255), #d9d9d9);
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  box-shadow: inset 0px -4px 5px rgba(0, 0, 0, 0.3);
}
